*{
    box-sizing: border-box;
}
body{
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}


div{
    margin:auto;
}

.img-header{
    width:320px;
}

.information{
    display: inline;
    cursor: pointer;
}

.cell {
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	color:#777777;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	cursor:pointer;
}

.cell:hover {
    background:linear-gradient(to bottom, #dcdcdc 5%, #dcdcdc 100%);
}

.clicked {
    background:linear-gradient(to bottom, #dcdcdc 5%, #dcdcdc 100%);
}

.info{
    height: 30px;
    width: 40px;
}


/* -------------------------------------------------------------------------- */
.btn-level {
    width: 100px;
    height: 30px;
    display: inline-block;
    border: 0.16em solid rgb(255, 255, 255);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
    background-color: lightgray;
  }
  
  .btn-level.Beginner:hover{
    background-color: green;
  }
  .btn-level.Medium:hover{
    background-color: orange;
  }
  .btn-level.Expert:hover{
    background-color: darkred;
  }

  
.marked{
    background-color: #36a2eb;
}

footer {
    position: absolute;
    bottom:0px; /* negative value of footer height */
    height: 5%;
    width: 100%;
    clear:both;
  }