* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: white url('/img/bgc.jpg') center center/cover fixed;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

div {
	margin: auto;
}

.instructions {
	position: fixed;
	top: 2%;
	right: 2%;
	height: 50px;
	display: inline-block;
}

.img-instructions {
	height: 50px;
	display: inline-block;
	cursor: pointer;
}

.img-header {
	height: 165px;
	display: inline-block;
}

.choose-level {
	display: inline;
}

/* -------------------------------- B U T T O N S   S T Y L E ------------------------------------- */

.btn-level {
	width: 125px;
	height: 30px;
	display: inline-block;
	align-items: center;
	background-color: whitesmoke;
	border: 2px solid #111;
	border-radius: 8px;
	box-sizing: border-box;
	color: #111;
	cursor: pointer;
	font-weight: 600;
	font-size: 14px;
	height: 40px;
	justify-content: center;
	position: relative;
	text-align: center;
	margin-bottom: 20px;
}

.btn-level:after {
	background-color: grey;
	border-radius: 8px;
	content: '';
	display: block;
	height: 40px;
	left: 0;
	width: 100%;
	position: absolute;
	top: -2px;
	transform: translate(5px, 8px);
	transition: transform 0.2s ease-out;
	z-index: -1;
}

.btn-level:hover:after {
	transform: translate(0, 0);
}

.btn-level.Beginner:hover {
	background-color: green;
	color: whitesmoke;
}

.btn-level.Medium:hover {
	background-color: darkorange;
	color: whitesmoke;
}

.btn-level.Expert:hover {
	background-color: darkred;
	color: whitesmoke;
}

.marked {
	background-color: #2b6dc3;
	color: whitesmoke;
	cursor: text;
}

.Beginner.marked .cell {
	height: 40px;
	width: 40px;
}

/* ---------------------------------- C E L L S  S T Y L E ---------------------------------------- */

.cell {
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color: #ededed;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	color: #777777;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
	cursor: pointer;
}

.cell:hover {
	background: linear-gradient(to bottom, #dcdcdc 5%, #dcdcdc 100%);
}

.clicked {
	background: whitesmoke;
}

.game-over-msg {
	color: darkred;
}
/* 
.best-score {
	position: fixed;
	top: 2%;
	right: 60px;
	height: 30px;
	display: inline-block;
}

.img-best-score {
	height: 40px;
	display: inline-block;
	cursor: pointer;
} */



/* ---------------------------------------- F O O T E R ------------------------------------------- */

footer {
	position: fixed;
	bottom: 0px; /* negative value of footer height */
	height: 25px;
	width: 100%;
	clear: both;
}
footer div {
	border-top: 2px dotted lightgray;
	background-color: whitesmoke;
	width: 100%;
	height: 25px;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	background: #FFFFFF;
	text-shadow: 1px 1px 0 #8a8a8a, 1px -1px 0 #8a8a8a, -1px 1px 0 #8a8a8a, -1px -1px 0 #8a8a8a, 1px 0px 0 #8a8a8a, 0px 1px 0 #8a8a8a, -1px 0px 0 #8a8a8a, 0px -1px 0 #8a8a8a;	
}
